div.editable{ position: relative; padding: 5px 0 5px 4px; }
div.editable:hover { outline: 1px dashed #ddd; }
div.editable:hover:after { content: "click to edit"; position: absolute; top: -1px; right: -1px; font-size: 12px; color: #9da0a4; padding: 0 10px 0 0; }
div.editable:focus{ outline: 1px solid #0088CC; background-color: #fcfcfc; }
div.editable:focus:after { content: ""; }
button.close.delete-entry{ cursor: pointer; text-align: center; clear:both;}
/*.edit-sucess{ outline: 1px solid green;}*/
.edit-sucess:after { content: "Stored!"; position: absolute; top: -1px; right: -1px; font-size: 12px; font-weight: bold; color: green; padding: 0 10px 0 0; }

div.progress  { width:150px; margin-bottom: 0px; }
table#toLearnTable tr td:nth-child(4), 
table#toLearnTable tr td:nth-child(5), 
/*table#toLearnTable tr td:nth-child(6), */
table#learnedTable tr td:nth-child(4){ vertical-align: middle; text-align: center; }

table#toLearnTable tr td:nth-child(4){ width:150px; }
table#toLearnTable tr td:nth-child(5)/*,
table#toLearnTable tr td:nth-child(6)*/{ width:130px; }
table#learnedTable tr td:nth-child(4){ width:90px; }


.dropdown-menu li > div.category { padding: 5px 0px 0px 10px; cursor:default;}
.dropdown-menu li > a.addword-dropdown { padding: 3px 10px 3px 20px; cursor:pointer;}

/*i.delete-entry{padding: 5px; background-color: red;}*/
div[lt_dbLinked="word"]{ }



/* data tables bootstrap style */
div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('../libs/css/DataTables/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../libs/css/DataTables/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../libs/css/DataTables/images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../libs/css/DataTables/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../libs/css/DataTables/images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}
